@model WebPccuClub.Models.ClubListViewModel

@{
    Layout = "_FrontLayout";
    string Controller = "FrontLogin";
    string ActionDisptach = "AuthLogin";
    string sUpdateTargetId = "#MainContent";
}


<div class="col-xxl-8 col-xl-8">
    <div class="contentWrapper">
        <h4 class="pageTitle">社團一覽</h4>
        <hr>

        <div class="filter-box form-box mb-4">
            <div class="row">
                <div class="col-md-4">
                    <form method="post" id="SearchForm" enctype="multipart/form-data" action="">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-filter text-primary"></i>
                            @Html.DropDownListFor(m => m.ConditionModel.ClubClass,(List<SelectListItem>)ViewBag.ddlClubClass,"請選擇", new {@class = "form-control ms-3"})
                        </div>
                        <input type="button" style="visibility:hidden;" value="" onclick="GoSearch()">
                    </form>
                </div>
            </div>
        </div>

        <div class="thumblist">
            <div id="SearchResultList" class="row">
              
            </div>
        </div>


        <ul class="pagination justify-content-center pt-4">
            <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="icon-arrow-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="icon-arrow-right"></i></a></li>
        </ul>


    </div>
</div>


<script>

    $(document).ready(function () {
        GoSearch();
    });

    function GoSearch() {
        SendAjax({
            url: '@Url.Action("GetSearchResult")',
            data: $("#SearchForm").serialize(),
            success: function (result) {
                $('#SearchResultList').html(result);
            }
        });
    }

    $('#JumpPergroup').change(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.PageSize)").val(e.target.value);
        GoSearch();
    });

    $('#Jumppage').change(function (e) {
        $("#@Html.IdFor(m => m.ConditionModel.Page)").val(e.target.value);
        GoSearch();
    });

</script>