@model WebPccuClub.Models.ClubPersonMangViewModel

@{
    Layout = "_FrontLayout";
}

<div class="col-xxl-8 col-xl-10">
	
	<div class="contentWrapper">
		<h4 class="pageTitle">會員及幹部登錄</h4>
		<hr>
		<div class="pagelist">
			<a href=@Url.Action("CadreIndex") class="listItem">
				<div class="textbox ">
					<div class="title font-weight-bold mb-0">幹部名冊</div>
					<p class="fs-90percent mb-0">檢視編輯幹部名冊</p>
				</div>
				<div class="icon"><i class="fas fa-chevron-right"></i></div>
			</a>
			<a href=@Url.Action("MemberIndex") class="listItem">
				<div class="textbox ">
					<div class="title font-weight-bold mb-0">會員名冊</div>
					<p class="fs-90percent mb-0">檢視編輯會員名冊</p>
				</div>
				<div class="icon"><i class="fas fa-chevron-right"></i></div>
			</a>
		</div>

	</div>
</div>
