        <!-- /.content-wrapper -->
<footer class="main-footer text-sm">
    <strong>Copyright &copy; <a href="https://www.pintech.com.tw" target="_blank">PinTech</a>.</strong>
    All rights reserved.
</footer>