<div class="wrapper clearfix">
    <div class="header">文化大學社團活動報備系統</div>
    <div class="info">
        <div>
            地址：111台北市士林區華岡路55號
        </div>
        <div>電話：(02)7737-8979</div>
        <div class="copyright">Copyright 文化大學-課外活動組 版權所有</div>
            <span style="color:red; font-weight:bold;">這是測試站!</span>
    </div>
</div>