@{

	var Year = DateTime.Now.Year;

}

<div class="remindWrapper">
	<div class="title"><i class="fa-solid fa-bell"></i> 提醒</div>
	<div class="remindBox">
		<div class="item">
			<p>請於 @Year/08/15之前，填寫送出「個人資料告知暨同意書」</p>
		</div>
		<div class="item">
			<p>請於 @Year/08/15之前，填寫送出「改選會議概要」</p>
		</div>
		<div class="item">
			<p>請於 @Year/08/15之前，填寫送出「社團負責人資訊」</p>
		</div>
	</div>
</div>