@using WebPccuClub.Controllers;

@{
	FBaseController cont = new FBaseController();
	string Content = cont.GetRemind(Context.Request.RouteValues["controller"].ToString());

}

<style>
	textarea{
		width: 100%;
		background: transparent;
		border-style: none;
		resize: none;
		overflow: hidden;
	}
</style>

@if (!string.IsNullOrEmpty(Content))
{
	<div class="remindWrapper">
		<div class="title"><i class="fa-solid fa-bell"></i> 提醒</div>
		<div class="remindBox">
			<textarea id="myTextarea" oninput="autoResize()">@Content</textarea>
		</div>
	</div>
}


<script>
	$(document).ready(function () {
		$("#myTextarea").trigger("input");
	});

	function autoResize() {
		const textarea = document.getElementById("myTextarea");
		textarea.style.height = "auto";
		textarea.style.height = textarea.scrollHeight + "px";
	}
</script>