<footer id="footer" class="position-relative border-top-0">

	<div class="container pt-5-5 pb-3">
		<div class="row">
			<div class="col-lg-8">
				<p class="text-3 mb-3">相關社團法規及相關規定詳見課外組網站，網址：<a href="http://activity.pccu.edu.tw/" target="_blank">http://activity.pccu.edu.tw/</a></p>

				<p class="text-3">學校地址<span class="px-3">|</span><a href="javascript:papago('臺北市11114陽明山華岡路55號')">臺北市11114陽明山華岡路55號</a></p>
				<p class="text-3">聯絡電話<span class="px-3">|</span><a href="tel:+8863-528-2255" target="_blank" title="撥打電話">(02)2861-0511</a> 轉分機 12202~12215</p>
				<p class="text-3">服務時間<span class="px-3">|</span>週一至週五 08:30~16:00</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright bg-transparent pb-3">
		<div class="container">
			<div class="row">
				<div class="col my-3 text-end">
					<p class="text-3 mb-0 opacity-6">中國文化大學 © 2023. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>