@using PccuClub.WebAuth;
@using WebPccuClub.Global.Extension;
@using Microsoft.AspNetCore.Http

@{

    UserInfo LoginUser = Context.Session.GetObject<UserInfo>("LoginUser");

    string UnitName = string.Empty;
    string LoginId = string.Empty;
    string LastLoginDate = string.Empty;

    if (LoginUser != null)
    {
        UnitName = LoginUser.UnitName;
        LoginId = LoginUser.LoginId;
        LastLoginDate = LoginUser.LastLoginDate.Value.ToString("yyyy/MM/dd HH:mm");
    }
    string baseurl = SystemMenu.GetSubUrl();
    string homeurl = $"{baseurl}/Home";
    string logouturl = $@"{baseurl}/Login/Logout";
    string menuHtml = LoginUser.CreateUserMenu(baseurl);
}


<!DOCTYPE html>
<!-- saved from url=(0054)https://chiang.pintech.com.tw/chemicalclass/index.html -->
<html lang="zh-TW" class="side-header history svg video supports boxshadow csstransforms3d csstransitions backgroundcliptext webkit chrome win js sticky-header-enabled">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="中興大學化工系場地租借系統">
    <meta name="keywords" content="中興大學化工系,興大化工,場地租借">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>場地租借 | 中興大學化工系</title>
    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; worker-src blob:; child-src blob: gap:; style-src * &#39;unsafe-inline&#39;; script-src * &#39;unsafe-inline&#39; &#39;unsafe-eval&#39; blob:; img-src * &#39;self&#39; data: blob: cdvfile:; connect-src * &#39;unsafe-inline&#39;; font-src &#39;self&#39; data: *; frame-src *;media-src * blob:; ">
    <meta name="format-detection" content="telephone=no">
    <meta name="color-scheme" content="light dark">
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://chiang.pintech.com.tw/chemicalclass/assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://chiang.pintech.com.tw/chemicalclass/assets/img/apple-touch-icon.png">
    <!-- Web Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link id="googleFonts" href="~/css/index/css" rel="stylesheet" type="text/css">
    <link href="~/css/index/css2" rel="stylesheet">
    <link href="~/css/index/css2(1)" rel="stylesheet">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/css/index/bootstrap.css">
    <link rel="stylesheet" href="~/css/index/all.min.css">
    <link rel="stylesheet" href="~/css/index/animate.compat.css">
    <link rel="stylesheet" href="~/css/index/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/css/index/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/index/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/index/main.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/index/theme.css">
    <link rel="stylesheet" href="~/css/index/theme-elements.css">
    <link rel="stylesheet" href="~/css/index/theme-blog.css">
    <link rel="stylesheet" href="~/css/index/theme-shop.css">
    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/css/index/skin-corporate-7.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/index/tools.css">
    <link rel="stylesheet" href="~/css/index/custom.css">
    <!-- Head Libs -->
    <script src="~/js/index/modernizr.min.js"></script>
</head>


<body data-plugin-page-transition="" class="" style="">

    <div class="body">
        <div id="header" class="side-header d-flex" style="min-height: 0px;">
            <div class="header-body" style="top: 0px;">
                <div class="header-container container d-flex h-100">
                    <div class="header-column flex-row flex-xl-column justify-content-center h-100">
                        <div class="header-row flex-row justify-content-start justify-content-xl-center pb-xl-5">
                            <div class="header-logo">
                                <a href="https://chiang.pintech.com.tw/chemicalclass/index.html">
                                    <img alt="" src="~/images/100061301.png" style="max-width:100%;height: auto;">
                                </a>
                            </div>
                        </div>
                        <div class="header-row header-row-side-header flex-row h-100 pb-xl-5">
                            <div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-dropdown align-self-start">
                                <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="greetings">
                                                <h5>登入帳號：@LoginId</h5>
                                                <h5>單位：@UnitName</h5>
                                                <h5>Hi, 使用者</h5>
                                            </li>
                                            @Html.Raw(menuHtml)
                                           
                                            <li class="signout-item">
                                                <a class="" href="https://chiang.pintech.com.tw/chemicalclass/login.html">登出</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="header-row justify-content-end pb-xl-3">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav" title="">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <footer id="footer" class="mt-0">
            <p class="text-center mb-0">
                <span class="d-lg-inline-block d-block mr-lg-4">地址：<a href="javascript:papago(&#39;402台中市南區興大路145號&#39;)">402 台中市南區興大路145號</a></span>
                <span class="d-lg-inline-block d-inline-block mr-4">總機：<a href="tel:+8864-22854724">04-22854724</a></span>
                <span class="d-lg-inline-block d-inline-block mr-lg-4">傳真：04-22854734</span>
                <span class="d-lg-inline-block d-block">Email：<a href="mailto:nchuche@email.nchu.edu.tw">nchuche@email.nchu.edu.tw</a></span>
            </p>
            <div class="footer-copyright">
                <div class="container pt-2 pb-3">
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center mb-2 mt-2 mt-lg-0 mb-lg-0">
                            <p class="text-lg-3 text-2 text-light opacity-9 text-center mb-0 px-4">
                                中興大學化工學系 ©
                                2022. All Rights Reserved. Designed by <a class="pinfooter" href="https://www.pintech.com.tw/" rel="dofollow" target="_blank">品科技</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="classModal" tabindex="-1" aria-labelledby="classModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">教室資訊</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body py-4">
                        <p class="text-3-5 mb-2"><strong>教室名稱</strong><span class="px-2">|</span> C104</p>
                        <p class="text-3-5 mb-2"><strong>容納人數</strong><span class="px-2">|</span> 10 人</p>
                        <p class="text-3-5 mb-2"><strong>教室描述</strong><span class="px-2">|</span> 小型會議室</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" title="">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@Html.Partial("_Footer")
@Html.Partial("_MsgPartial")
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@await RenderSectionAsync("Scripts", required: false)

<!-- Vendor -->
<script src="~/js/index/jquery.min.js"></script>
<script src="~/js/index/jquery.appear.min.js"></script>
<script src="~/js/index/jquery.easing.min.js"></script>
<script src="~/js/index/jquery.cookie.min.js"></script>
<script src="~/js/index/popper.min.js"></script>
<script src="~/js/index/bootstrap.min.js"></script>
<script src="~/js/index/jquery.easypiechart.min.js"></script>
<script src="~/js/index/lazysizes.min.js"></script>
<script src="~/js/index/jquery.isotope.min.js"></script>
<script src="~/js/index/jquery.vide.min.js"></script>
<script src="~/js/index/vivus.min.js"></script>
<script src="~/js/index/main.js"></script>
<script src="~/js/index/moment.js"></script>
<!-- Theme Base, Components and Settings -->
<script src="~/js/index/theme.js"></script>
<script src="~/js/index/global.js"></script>
<script src="~/js/index/exif.js"></script>
<!-- Theme Custom -->
<script src="~/js/index/custom.js"></script>
<!-- Theme Initialization Files -->
<script src="~/js/index/theme.init.js"></script>
</html>