@using System.Text;
@{
    //顯示警示訊息
    if (TempData["WEBSOL_ALERT_MESSAGE"] != null)
    {
        StringBuilder sb = new StringBuilder();
        List<String> AlertMsg = TempData["WEBSOL_ALERT_MESSAGE"] as List<String>;
        Array ArrMsg = TempData["WEBSOL_ALERT_MESSAGE"] as Array;

        if (null != AlertMsg)
        {
            foreach (string msg in AlertMsg)
            {
                sb.Append(@$"<div class='AlertMsgDialog' data-alerttype='' title='' style='display:none;'><p>{msg}</p></div>");
            }
        }
        else
        {
            if (null != ArrMsg)
            {

                foreach (string msg in ArrMsg)
                {
                    sb.Append(@$"<div class='AlertMsgDialog' data-alerttype='' title='' style='display:none;'><p>{msg}</p></div>");
                }
            }
        }

        TempData.Remove("WEBSOL_ALERT_MESSAGE");

        <script type="text/javascript">
            $(function () {
                $('body').append("@Html.Raw(@sb.ToString())");
                ShowAlertMsgDialog();
            });
        </script>
    }
}