@{
    ViewData["Title"] = "Home Page";
}

<div role="main" class="main">
    <div class="pageHeader-deco">
        <div class="image"></div>
    </div>
    <div class="calendarWrapper viewWrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-11">
                    <span class="d-block mb-1 opacity-8"><i class="icon-calendar mr-2"></i>Appointment</span>
                    <h3 class="font-weight-6 text-primary mb-0">場地租借</h3>
                    <hr>
                    <a class="infoLink" href="javascript:void(0)" data-toggle="modal" data-target="#classModal">
                        <h4 class="classTitle">教室 C104 <i class="far fa-question-circle text-3 ml-2"></i></h4>
                    </a>
                    <div class="mobileShow769">
                        <p class="my-3 text-2 text-primary"><i class="fas fa-mobile-alt"></i> 左右滑動行事曆以查看完整表格</p>
                    </div>
                    <div class="scroll-box">
                        <div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-standard">
                            <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr">
                                <div class="fc-toolbar-chunk">
                                    <div class="fc-button-group"><button type="button" title="" aria-pressed="false" class="fc-prev-button fc-button fc-button-primary"><span class="fc-icon fc-icon-chevron-left"></span></button><button type="button" title="" aria-pressed="false" class="fc-today-button fc-button fc-button-primary">本週</button><button type="button" title="" aria-pressed="false" class="fc-next-button fc-button fc-button-primary"><span class="fc-icon fc-icon-chevron-right"></span></button></div>
                                    <label>選擇場地：</label>
                                    <select class="form-control" id="classroom">
                                        <option selected="" value="C104">教室C104</option>
                                        <option value="C202">教室C202</option>
                                        <option value="C203">教室C203</option>
                                        <option value="C204">教室C204</option>
                                        <option value="C205">教室C205</option>
                                        <option value="C206">教室C206</option>
                                        <option value="C301">教室C301</option>
                                        <option value="C305">教室C305</option>
                                        <option value="C308">教室C308</option>
                                    </select>
                                </div>
                                <div class="fc-toolbar-chunk"></div>
                                <div class="fc-toolbar-chunk"><button type="button" title="" aria-pressed="false" class="fc-goBtn-button fc-button fc-button-primary">前往租借</button></div>
                            </div>
                            <div aria-labelledby="fc-dom-1" class="fc-view-harness fc-view-harness-passive">
                                <div class="fc-timegrid fc-timeGridWeek-view fc-view">
                                    <table role="grid" class="fc-scrollgrid no_autoresize">
                                        <thead role="rowgroup">
                                            <tr role="presentation" class="fc-scrollgrid-section fc-scrollgrid-section-header ">
                                                <th role="presentation">
                                                    <div class="fc-scroller-harness">
                                                        <div class="fc-scroller" style="overflow: visible;">
                                                            <table role="presentation" class="fc-col-header no_autoresize" style="width: 769px;">
                                                                <colgroup>
                                                                    <col style="width: 81px;">
                                                                </colgroup>
                                                                <thead role="presentation">
                                                                    <tr role="row">
                                                                        <th aria-hidden="true" class="fc-timegrid-axis">
                                                                            <div class="fc-timegrid-axis-frame"></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-mon fc-day-future" data-date="2023-05-01">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月1日"><span>05/01</span><span>星期一</span></a></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-tue fc-day-future" data-date="2023-05-02">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月2日"><span>05/02</span><span>星期二</span></a></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-wed fc-day-future" data-date="2023-05-03">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月3日"><span>05/03</span><span>星期三</span></a></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-thu fc-day-future" data-date="2023-05-04">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月4日"><span>05/04</span><span>星期四</span></a></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-fri fc-day-future" data-date="2023-05-05">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月5日"><span>05/05</span><span>星期五</span></a></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-sat fc-day-future" data-date="2023-05-06">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月6日"><span>05/06</span><span>星期六</span></a></div>
                                                                        </th>
                                                                        <th role="columnheader" class="fc-col-header-cell fc-day fc-day-sun fc-day-future" data-date="2023-05-07">
                                                                            <div class="fc-scrollgrid-sync-inner"><a class="fc-col-header-cell-cushion " aria-label="2023年5月7日"><span>05/07</span><span>星期日</span></a></div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody role="rowgroup">
                                            <tr role="presentation" class="fc-scrollgrid-section fc-scrollgrid-section-body ">
                                                <td role="presentation">
                                                    <div class="fc-scroller-harness">
                                                        <div class="fc-scroller" style="overflow: visible;">
                                                            <div class="fc-timegrid-body" style="width: 769px;">
                                                                <div class="fc-timegrid-slots">
                                                                    <table aria-hidden="true" class="no_autoresize" style="width: 769px; height: 1599px;">
                                                                        <colgroup>
                                                                            <col style="width: 81px;">
                                                                        </colgroup>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="08:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">08:00</span><span class="bottomTime">09:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="08:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="09:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">09:00</span><span class="bottomTime">10:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="09:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="10:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">10:00</span><span class="bottomTime">11:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="10:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="11:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">11:00</span><span class="bottomTime">12:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="11:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="12:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">12:00</span><span class="bottomTime">13:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="12:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="13:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">13:00</span><span class="bottomTime">14:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="13:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="14:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">14:00</span><span class="bottomTime">15:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="14:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="15:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">15:00</span><span class="bottomTime">16:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="15:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="16:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">16:00</span><span class="bottomTime">17:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="16:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="17:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">17:00</span><span class="bottomTime">18:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="17:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="18:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">18:00</span><span class="bottomTime">19:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="18:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="19:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">19:00</span><span class="bottomTime">20:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="19:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="20:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">20:00</span><span class="bottomTime">21:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="20:00:00"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-label fc-scrollgrid-shrink" data-time="21:00:00">
                                                                                    <div class="fc-timegrid-slot-label-frame fc-scrollgrid-shrink-frame">
                                                                                        <div class="fc-timegrid-slot-label-cushion fc-scrollgrid-shrink-cushion"><span class="topTime">21:00</span><span class="bottomTime">22:00</span></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="fc-timegrid-slot fc-timegrid-slot-lane " data-time="21:00:00"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-timegrid-cols">
                                                                    <table role="presentation" style="width: 769px;" class="no_autoresize">
                                                                        <colgroup>
                                                                            <col style="width: 81px;">
                                                                        </colgroup>
                                                                        <tbody role="presentation">
                                                                            <tr role="row">
                                                                                <td aria-hidden="true" class="fc-timegrid-col fc-timegrid-axis">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-mon fc-day-future" data-date="2023-05-01">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-tue fc-day-future" data-date="2023-05-02">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-wed fc-day-future" data-date="2023-05-03">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-thu fc-day-future" data-date="2023-05-04">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-fri fc-day-future" data-date="2023-05-05">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-sat fc-day-future" data-date="2023-05-06">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="gridcell" class="fc-timegrid-col fc-day fc-day-sun fc-day-future" data-date="2023-05-07">
                                                                                    <div class="fc-timegrid-col-frame">
                                                                                        <div class="fc-timegrid-col-bg"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-col-events"></div>
                                                                                        <div class="fc-timegrid-now-indicator-container"></div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a class="scroll-to-top hidden-mobile" href="https://chiang.pintech.com.tw/chemicalclass/index.html#"><i class="fas fa-chevron-up"></i></a>

