@model WebPccuClub.Models.WeekActivityViewModel


<div class="timetableInner d-flex">
    <div class="days-wrap d-flex">
        <div class="dayItem d-flex">
            <div class="date">2023/03/19</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    <div class="time">08:00~12:00</div>
                    <div class="title">德生堂兒童主日學</div>
                    <div class="club">課外組</div>
                </div>
                <div class="classInfo">
                    <div class="time">14:00~18:00</div>
                    <div class="title">德生堂兒童主日學</div>
                    <div class="club">課外組</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>
        <div class="dayItem d-flex">
            <div class="date">2023/03/20</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    <div class="time">18:00~22:00</div>
                    <div class="title">中國文化大學管樂社-例行團練 (大恩B101)</div>
                    <div class="club">管樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:00</div>
                    <div class="title">華岡國樂社 星期一例行社課</div>
                    <div class="club">華岡國樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:30</div>
                    <div class="title">美食文化研究社-例行社課</div>
                    <div class="club">美食文化研究社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>
        <div class="dayItem d-flex">
            <div class="date">2023/03/21</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    <div class="time">18:00~22:00</div>
                    <div class="title">中國文化大學管樂社-例行團練 (大恩B101)</div>
                    <div class="club">管樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:00</div>
                    <div class="title">華岡國樂社 星期二例行社課</div>
                    <div class="club">華岡國樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:30</div>
                    <div class="title">美食文化研究社-例行社課</div>
                    <div class="club">美食文化研究社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>
        <div class="dayItem d-flex">
            <div class="date">2023/03/22</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    <div class="time">18:00~22:00</div>
                    <div class="title">德生堂兒童主日學</div>
                    <div class="club">課外組</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:00</div>
                    <div class="title">華岡國樂社 星期三例行社課</div>
                    <div class="club">華岡國樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">
                    <div class="time">18:00~20:00</div>
                    <div class="title">大氣系學會-義氣吃飯吧</div>
                    <div class="club">大氣系學會</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>
        <div class="dayItem d-flex">
            <div class="date">2023/03/23</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    <div class="time">18:00~22:00</div>
                    <div class="title">中國文化大學管樂社-例行團練 (大恩B101)</div>
                    <div class="club">管樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:00</div>
                    <div class="title">華岡國樂社 星期四例行社課</div>
                    <div class="club">華岡國樂社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">
                    <div class="time">18:00~21:00</div>
                    <div class="title">卡通漫畫社-期初社大</div>
                    <div class="club">卡漫社</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    <div class="time">18:00~22:00</div>
                    <div class="title">23社研-反思課程</div>
                    <div class="club">課外組</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>
        <div class="dayItem d-flex">
            <div class="date">2023/03/24</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    <div class="time">08:00~12:00</div>
                    <div class="title">德生堂兒童主日學</div>
                    <div class="club">課外組</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>
        <div class="dayItem d-flex">
            <div class="date">2023/03/25</div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B101(112人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩B103(114人)</div>
                <div class="classInfo">
                    無
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯102(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩階梯103(180人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩301-煮食教室(93人)</div>
                <div class="classInfo">
                    <div class="time">08:00~12:00</div>
                    <div class="title">德生堂兒童主日學</div>
                    <div class="club">課外組</div>
                </div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩302(37人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩304(12人)</div>
                <div class="classInfo">無</div>
            </div>
            <div class="classItem d-flex">
                <div class="classroom">大恩305(77人)</div>
                <div class="classInfo">無</div>
            </div>
        </div>


    </div>
</div>

<!-- /.card-body -->

<script>

    

</script>