@charset "UTF-8";
/**
 * 
 */
.ms-choice {
    border: none !important;
}

    .ms-choice > span {
        position: inherit !important;
        font-size: 1rem;
        font-weight: normal;
    }

.ms-search {
    width: 97% !important;
}

.ms-drop {
    width: 100%;
}

.hide-radio {
    min-width: 100%;
    width: max-content;
}

