@using PccuClub.WebAuth;
@using Microsoft.AspNetCore.Http.Extensions

@{
    Layout = "_FrontSimpleLayout";

    string SSOName = "";
    string SSORole = "";

    UserInfo LoginUser = (UserInfo)ViewBag.LoginUser;
    var url = Context.Request.GetDisplayUrl();
    bool IsMasterEnv = url.Contains("sais-bk", StringComparison.OrdinalIgnoreCase);

    @if (null != LoginUser)
    {
        SSOName = LoginUser.SSOName;

        switch (LoginUser.SSORole)
        {
            case "student":
                SSORole = "同學";
                break;

            case "staff":
                SSORole = "同仁";
                break;

            case "teacher":
                SSORole = "老師";
                break;
        }
    }
}

<div role="main" class="main">

    <div class="container-fluid p-relative py-md-5 py-4">
        <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-8">
                <div class="card border-radius bg-color-light">

                    <div class="card-body">
                        @if (null != LoginUser)
                        {
                            <h4 class="card-title mb-4 pb-2 text-6">
                                @SSOName @SSORole 歡迎！<small class="text-yellow font-weight-normal ms-2">Welcome</small>
                            </h4>
                            <div class="pagelist">
                                <a href="@Url.Action("Index", "ClubList")" class="listItem">
                                    <div class="textbox ">
                                        <div class="title font-weight-bold mb-0">社團報備管理/結案管理</div>
                                        <p class="fs-90percent mb-0">維護社團相關資訊，如活動報備、結案管理、幹部名冊</p>
                                    </div>
                                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                </a>
                                <a href="@Url.Action("Index", "FBorrowIndex")" class="listItem">
                                    <!-- target="_blank" -->
                                    <div class="textbox ">
                                        <div class="title font-weight-bold mb-0">借用資源借用</div>
                                        <p class="fs-90percent mb-0">借用社團器材、海報欄位、學位服、醫療器材...等</p>
                                    </div>
                                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                </a>
                                <a href="@Url.Action("Index", "ConsultationApply")" class="listItem">
                                    <div class="textbox ">
                                        <div class="title font-weight-bold mb-0">輔導預約系統</div>
                                        <p class="fs-90percent mb-0">填寫初談表單</p>
                                    </div>
                                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                </a>
                                @if (IsMasterEnv)
                                {
                                    <a href="https://cgcs.pccu.edu.tw/" target="_blank" class="listItem">
                                        <div class="textbox ">
                                            <div class="title font-weight-bold mb-0">諮商輔導系統</div>
                                            <p class="fs-90percent mb-0"></p>
                                        </div>
                                        <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                    </a>
                                }
                                else
                                {
                                    <a href="https://demo.triotechno.com:20252/" target="_blank" class="listItem">
                                        <div class="textbox ">
                                            <div class="title font-weight-bold mb-0">諮商輔導系統</div>
                                            <p class="fs-90percent mb-0">模擬環境</p>
                                        </div>
                                        <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                    </a>
                                }

                                @if (LoginUser.SSORole != "student")
                                {
                                    <a href="@Url.Action("Index", "MenuBackend")" class="listItem">
                                        <div class="textbox ">
                                            <div class="title font-weight-bold mb-0">管理者後台</div>
                                            <p class="fs-90percent mb-0"></p>
                                        </div>
                                        <div class="icon"><i class="fas fa-chevron-right"></i></div>
                                    </a>
                                }

                            </div>
                        }
                        else
                        {
                            <h4 class="card-title mb-4 pb-2 text-6">
                                請透過專區登入後使用！<small class="text-yellow font-weight-normal ms-2">Thanks</small>
                            </h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>