@model WebPccuClub.Models.LoginViewModel;

@{
    Layout = "_LoginLayout";
    string Controller = "Login";
    string ActionDisptach = "AuthLogin";
    string sUpdateTargetId = "#MainContent";

}

<div class="position-relative w-100 min-vh-100 bg-gradient-liquid">
    <div class="position-relative d-flex justify-content-center align-items-center vh-100">
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal text-center">登入管理系統</h1>
                <form asp-action="@ActionDisptach" asp-controller="@Controller" data-ajax="false"
                      data-ajax-method="POST" data-ajax-update="@sUpdateTargetId" data-ajax-mode="replace"
                      data-ajax-begin="SysFormLoadingStart" data-ajax-complete="SysFormLoadingEnd">
                    <div class="mb-3">
                        <label for="account" class="form-label">管理員帳號</label>
                        <input type="text" asp-for="LoginID" class="form-control" data-val="false" placeholder="請輸入管理員帳號" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">密碼</label>
                        <input type="password" asp-for="PassWord" size="18" class="form-control" data-val="false" placeholder="請輸入密碼" />
                    </div>
                    <div class="form-group">
           @*             <div class="d-flex justify-content-center g-recaptcha"
                             data-sitekey="6Lf3xzkhAAAAAHUhXd8cwBWwLBdcIjj33YerBgfG"></div>*@
                    </div>
                    <button type="submit" name="submitBtn" value="Login" class="btn btn-outline-dark w-100 mt-3">登入</button>
                    <a class="mt-3 text-secondary d-flex justify-content-center" href="forgot.html">忘記密碼?</a>
                </form>
            </div>
        </div>
    </div>
</div>
