<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultDatabase" connectionString="Data Source=127.0.0.1;database=hq_PccuClub;uid=adam;pwd=5825;" />
		<add name="CaseDatabase" connectionString="Data Source=127.0.0.1;database=hq_PccuCase;uid=adam;pwd=5825;" />
	</connectionStrings>
</configuration>