@model WebPccuClub.Models.ActListMangViewModel

@{

}

<p class="mb-0 py-2 hint">
    <i class="fas fa-caret-down"></i> 該日期已使用教室
    <i class="fas fa-caret-down"></i>
</p>
@if (Model.LstPlaceUsedModel.Count > 0)
{
    <div class="usedTable table-shadow">
        <div class="headerItem item">
            <div class="location">教室名稱</div>
            <div class="time">開始時間</div>
            <div class="time">結束時間</div>
        </div>
        @foreach (var item in Model.LstPlaceUsedModel)
        {
            <div class="item">
                <span class="location">@item.PlaceName</span>
                <span class="time">@string.Format("{0}:00", item.STime)</span>
                <span class="time">@string.Format("{0}:00", item.ETime)</span>
            </div>
        }
    </div>
}