@model WebPccuClub.Models.ActListMangViewModel

@{

}

@if (null != Model.LstTodayActModel)
{
    <div id="thisdayTable_box">
        @if (Model.LstTodayActModel.Count > 0)
        {
            <p class="mb-0 py-2 hint">
                <i class="fas fa-caret-down"></i>
                場地當日借用狀態 <i class="fas fa-caret-down"></i>
            </p>
            <div class="hint scroll-hint">(左右滑動以查看完整資訊)</div>

            <div class="scroll-box">
                <div class="thisdayTable table-shadow">
                    <div class="headerItem item">
                        <div class="cell">活動名稱</div>
                        <div class="cell">活動單位</div>
                        <div class="cell">開始時間</div>
                        <div class="cell">結束時間</div>
                    </div>
                    @foreach (var item in Model.LstTodayActModel)
                    {
                        <div class="item">
                            <span class="cell">@item.ActName</span>
                            <span class="cell">@item.BrrowClubName</span>
                            <span class="cell">@string.Format("{0}:00", item.STime)</span>
                            <span class="cell">@string.Format("{0}:00", item.ETime)</span>
                        </div>
                    }
                </div>
            </div>
        }

    </div>
}