@model WebPccuClub.Models.ClubActReportViewModel

@{
    Layout = "_FrontLayout";
}

<div class="col-xxl-8">
	<div class="contentWrapper">
		<h4 class="pageTitle">新增活動報備</h4>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="apply.html">活動報備</a></li>
				<li class="breadcrumb-item active">新增活動報備</li>
			</ol>
		</nav>
		<hr>

		<h2 class="text-14 text-center line-height-1 text-success mt-5"><i class="fas fa-check-circle"></i></h2>
		<h3 class="text-7 text-center line-height-1 mb-3">報備成功！</h3>
		<p class="text-center text-dark opacity-8">後續將由行政老師為您審核，請耐心等待。</p>
		<div class="row justify-content-center pt-4 mb-5">
			<div class="col-lg-3">
				<a href="@Url.Action("Index")" class="btn btn-primary btn-outline btn-modern w-100">返回列表</a>
			</div>

		</div>
	</div>
</div>


<script>



</script>